@model FAREI_Project.Models.Registry

<div>
    <h4>Registry</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsValid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsValid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnSite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOnSite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsInTransit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsInTransit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDb.Department)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RegistryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
