@using FAREI_Project.ViewModel
@model RequestsViewModel

<div>
    <h4>Registry</h4>
    <hr />
    <dl class="row">
   
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registry.MovementDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registry.MovementDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Registry.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Registry.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.EquipmentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.EquipmentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.Site)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.Site)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.Department)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
