@using FAREI_Project.ViewModel
@model RequestsViewModel

<div>
    <h4>FormReqDb</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.RequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.Site)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.ResponsibleOfficer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.ContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.ContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.EquipmentType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.EquipmentType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.ProblemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.ProblemDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.SerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.Supervisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.Supervisor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.status)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="SubmitRegistry" method="post">
        <input asp-for="Registry.FormReqDbId" value="@Model.FormReqDbs.Id" type="hidden"/>
        <div>
            <label asp-for="Registry.Remarks"></label>
            <textarea asp-for="Registry.Remarks" class="form-control"></textarea>
            <span asp-validation-for="Registry.Remarks" class="text-danger"></span>
        </div>
        <div>
            <label>location</label>
            <input asp-for="Registry.From" class="form-control" />
        </div>
        <div>
            <input asp-for="Registry.IsOnSite" class="form-check-input" />
            <label asp-for="Registry.IsOnSite" class="form-check-label"></label>
        </div>
        <div>
            <input asp-for="Registry.IsInTransit" class="form-check-input" id="IsInTransit" />
            <label asp-for="Registry.IsInTransit" class="form-check-label"></label>
        </div>

       

<div id="transitFields" style="display:none;">
  

    <div>
        <label asp-for="Registry.From"></label>
        <input asp-for="Registry.From" class="form-control" />

    </div>

    <div>
        <label asp-for="Registry.To"></label>
        <input asp-for="Registry.To" class="form-control" />

    </div>
</div>



<button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function toggleTransitFields() {
            const checkbox = document.getElementById("IsInTransit");
            const fields = document.getElementById("transitFields");
            fields.style.display = checkbox.checked ? "block" : "none";
        }

        document.addEventListener("DOMContentLoaded", function () {
            toggleTransitFields(); // Show/hide on load
            document.getElementById("IsInTransit").addEventListener("change", toggleTransitFields);
        });
    </script>


}
