@using FAREI_Project.ViewModel
@model RequestsViewModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/User.css" />
</head>
<partial name="Navbar"></partial>
<div class="container">
<h1>Details</h1>
    <hr />
    <div class="row">
    <div class="col-md-6">
    <h4>FormReqDb</h4>
   
    <dl class="row">
        <dt >
            @Html.DisplayNameFor(model => model.FormReqDbs.RequestDate)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.FormReqDbs.RequestDate)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.FormReqDbs.Site)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.FormReqDbs.Site)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.FormReqDbs.Department)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.FormReqDbs.Department)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.FormReqDbs.ResponsibleOfficer)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.FormReqDbs.ContactPhone)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.FormReqDbs.ContactPhone)
        </dd>
      
        <dt >
            @Html.DisplayNameFor(model => model.FormReqDbs.ProblemDescription)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.FormReqDbs.ProblemDescription)
        </dd>
        <dt >
            @Html.DisplayNameFor(model => model.FormReqDbs.SerialNumber)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.FormReqDbs.SerialNumber)
        </dd>
                                                                                   
    </dl>
</div>

        <div class="col-md-6 ">
            <h4>Equipment Details</h4>
            <dl class="row">

                <dt>Serial Number</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.Equipments.SerialNumber)</dd>

                <dt>Equipment Type</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.Equipments.EquipmentType)</dd>

                <dt>Equipment name</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.Equipments.EquipmentName)</dd>

                <dt>Problem Description</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.ProblemDescription)</dd>

                <dt>Drives</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.Equipments.Drives)</dd>

                <dt>capacity</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.Equipments.capacity)</dd>

                <dt></dt>
                <dd></dd>
            </dl>
        </div>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
</div>