@using FAREI_Project.ViewModel
@model RequestsViewModel

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/Admin.css" />
</head>
<partial name="Navbar"></partial>
<div class="container">
    <h1>Equipment Details</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
        
        <dl class="row">
            <dt >
                @Html.DisplayNameFor(model => model.Equipment.SerialNumber)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.SerialNumber)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.EquipmentType)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.EquipmentType)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.EquipmentName)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.EquipmentName)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.Site)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.Site)
            </dd>
       
            <dt >
                @Html.DisplayNameFor(model => model.Equipment.Department)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.Department)
            </dd>

              
            <dt>
                @Html.DisplayNameFor(model => model.Equipment.Status)                
            </dt>            
            <dd>            
                @Html.DisplayFor(model => model.Equipment.Status)                
            </dd>
    </div>

        <div class="col-md-4">
            <dt >
                @Html.DisplayNameFor(model => model.Equipment.Drives)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.Drives)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.capacity)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.capacity)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.memory)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Equipment.memory)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.operatingSystem)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.operatingSystem)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.OSkey)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.OSkey)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.Office)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.Office)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.supplier)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.supplier)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.User)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.User)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.barcode)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.barcode)
            </dd>
        </div>

        <div class="col-md-4">
            <dt >
                @Html.DisplayNameFor(model => model.Equipment.DateOfPurchase)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.DateOfPurchase)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.amount)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.amount)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.warranty)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.warranty)
            </dd>

            <dt >
                @Html.DisplayNameFor(model => model.Equipment.WarrantyExpire)
            </dt>
            <dd >
                @Html.DisplayFor(model => model.Equipment.WarrantyExpire)
            </dd>
        </div>
        </dl>
    </div>
    <div>
        <a asp-action="Inventory">Back to List</a>
    </div>
</div>
