@using FAREI_Project.ViewModel
@using FormRequest.Models
@model RequestsViewModel
<head>
    <link rel="stylesheet" href="~/css/ITO.css" />
</head>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Index";
    var username = User.Identity.Name;
    var Type = "default";

    @if (username == null)
    {
        Type = "default";
    }
    else
    {
        
        @foreach (var User in Model.AllUsers)
        {
            if (username.Equals(User.UserName))
            {
                Type = User.Type;
                break;
            }
        }
    }
}
@if (Type.Equals("default"))
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
            <a asp-area="Identity" asp-page="/Account/Login">
                Please login first.
            </a>
        </p>
    </div>
}else
{
    <h1>User</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>RequestDate</th>
                <th>ResponsibleOfficer</th>
                <th>Status</th>
                <th>ProblemDescription</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.FormReqDb)
            {
                var statusClass = StatusClass.GetStatusClass(item.status);
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.RequestDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.ResponsibleOfficer)</td>
                    <td class="@statusClass status-cell" data-id="@item.Id">@Html.DisplayFor(modelItem => item.status)</td>
                    <td >@Html.DisplayFor(modelItem => item.ProblemDescription)</td>
                    <td><a asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                </tr>
            }
        </tbody>
    </table>
}
