@using FAREI_Project.ViewModel
@using FormRequest.Models
@model RequestsViewModel

@{

}
<head>
    <link rel="stylesheet" href="~/css/ITO.css" />
</head>
<partial name="Navbar"></partial>
<div class="container">
<h1>ITO</h1>
<table class="table" style="border: 1px solid black">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ProblemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(Model=>Model.FormReqDbs.status)
            </th>
            <th></th>
            <th></th>


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FormReqDb) {
        
            var statusClass = StatusClass.GetStatusClass(item.status);
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ResponsibleOfficer)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
  
            <td>
                @Html.DisplayFor(modelItem => item.ProblemDescription)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)                
            </td>

            <td class="@statusClass status-cell" data-id="@item.Id">
                @item.status
            </td>

            <td>                    
                <button class="btn btn-sm btn-success action-btn accept-btn" data-id="@item.Id" data-action="accept" : "">Accept</button>                    
                <button class="btn btn-sm btn-danger action-btn reject-btn" data-id="@item.Id" data-action="reject" : "">Reject</button>
            </td>

            <td>
                <a asp-action="repairedDetail" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>