@using FAREI_Project.ViewModel
@model RequestsViewModel

<h1>For registry</h1>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.EquipmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ProblemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.Supervisor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.remarks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FormReqDb) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibleOfficer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supervisor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remarks)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
