@model IEnumerable<FormRequest.Models.FormReqDb>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsibleOfficer)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.EquipmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProblemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibleOfficer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
              
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
