@using FAREI_Project.ViewModel
@model RequestsViewModel
<head>
    <link rel="stylesheet" href="~/css/User.css" />
</head>
<partial name="Navbar"></partial>
<h1>My request</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
            </th>
           
 
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ProblemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.status)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FormReqDb) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibleOfficer)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProblemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status) 
            </td>
            <td>
              
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
               
            </td>
        </tr>
}
    </tbody>
</table>
