@using FAREI_Project.ViewModel
@model RequestsViewModel

<h1>New component</h1>
<table class="table">
    <thead>
        <tr>
   
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.EquipmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ProblemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.SerialNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FormReqDb) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remarks)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EquipmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                    <a asp-action="NewComponentDetailsForm" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
