@using FAREI_Project.ViewModel
@using FormRequest.Models
@model RequestsViewModel
<head>
    <link rel="stylesheet" href="~/css/Registry.css" />
</head>
<partial name="Navbar"></partial>
<div class="container">
<h1>Registry</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.RequestDate)
            </th>       
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.SerialNumber)
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.EquipmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inventory.EquipmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ProblemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.FormReqDbs.status)               
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FormReqDb) 
{
                var statusClass = StatusClass.GetStatusClass(item.status);
                var status = item.status?.Trim().ToLower();
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>     
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibleOfficer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipments.EquipmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipments.EquipmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProblemDescription)
            </td>
                    <td class="@statusClass status-cell" data-id="@item.Id">
                        @item.status
                    </td>
            <td>                
                    <a asp-action="DetailsRegistryForm" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
