@using FAREI_Project.ViewModel
@model RequestsViewModel
<head>
    <link rel="stylesheet" href="~/css/ITO.css" />
</head>
<partial name="Navbar"></partial>
<div class="container">
<div>
    <h4>FormReqDb</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.Site)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.ResponsibleOfficer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.ContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.ContactPhone)
        </dd>
            
        <dt class="col-sm-2">        
            @Html.DisplayNameFor(model => model.Inventory.SerialNumber)            
        </dt>        
        <dd class="col-sm-10">        
            @Html.DisplayFor(model => model.Inventory.SerialNumber)            
        </dd>            
        <dt class="col-sm-2">                
            @Html.DisplayNameFor(model => model.Inventory.EquipmentName)            
        </dt>            
        <dd class="col-sm-10">         
            @Html.DisplayFor(model => model.Inventory.EquipmentName)    
        </dd>            
        <dt class="col-sm-2">             
            @Html.DisplayNameFor(model => model.Inventory.EquipmentType)           
        </dt>          
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.EquipmentType)                        
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.ProblemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.ProblemDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ITTreport.Report)
        </dt> 
        <dd class="col-sm-10">        
            @Html.DisplayFor(model => model.ITTreport.Report)            
        </dd>


    </dl>
        @if (Model.FormReqDbs.Pointer == 2 || Model.FormReqDbs.Pointer == 3 || Model.FormReqDbs.Pointer == 6 || Model.FormReqDbs.Pointer == 8)
        {
            <form asp-action="ITOstatus" method="post">
                <input type="hidden" value="@Model.FormReqDbs.Id" name="id"/>


        <input type="radio" class="form-check-input" name="Status" value="approve">
        <label>approve</label><br>
        <input type="radio" class="form-check-input" name="Status" value="rejects">
        <label>Reject</label><br>
        <div id="transitFields" style="display:none">
            <label>Remarks</label>
            <textarea class="form-control" name="Remarks"></textarea>
            <span class="text-danger"></span>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function toggleTransitFields() {
            const radios = document.querySelectorAll('input[name="Status"]');
            let selectedValue = "";
            radios.forEach(radio => {
                if (radio.checked) {
                    selectedValue = radio.value;
                }
            });

            const fields = document.getElementById("transitFields");
            if (selectedValue === "rejects") {
                fields.style.display = "block";
            } else {
                fields.style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            toggleTransitFields(); // Show/hide on initial load

            const radios = document.querySelectorAll('input[name="Status"]');
            radios.forEach(radio => {
                radio.addEventListener("change", toggleTransitFields);
            });
        });
    </script>


}
</div>