@using FAREI_Project.ViewModel
@model RequestsViewModel
<head>
    <link rel="stylesheet" href="~/css/ITO.css" />
</head>
<partial name="Navbar"></partial>
<div class="container">
<div class="row">
        <div class="col-md-6 ">
    <h4>FormReqDb</h4>

            <dl class="row">

                <dt>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Site)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FormReqDbs.Site)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Department)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FormReqDbs.Department)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FormReqDbs.ResponsibleOfficer)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FormReqDbs.ContactPhone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FormReqDbs.ContactPhone)
                </dd>



            </dl>
    </div>
        <div class="col-md-6 ">
            <h4>Equipment Details</h4>
            <dl class="row">

                <dt>Serial Number</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.Equipments.SerialNumber)</dd>

                <dt>Equipment Type</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.Equipments.EquipmentType)</dd>

                <dt>Equipment name</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.Equipments.EquipmentName)</dd>

                <dt>Problem Description</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.ProblemDescription)</dd>

                <dt>ITT report</dt>
                <dd>@Html.DisplayFor(model => model.ITTreport.Report)</dd>

            </dl>
        </div>
        @if (Model.FormReqDbs.Pointer == 2 || Model.FormReqDbs.Pointer == 3 || Model.FormReqDbs.Pointer == 6 || Model.FormReqDbs.Pointer == 8)
        {
            <form asp-action="ITOstatus" method="post">
                <input type="hidden" value="@Model.FormReqDbs.Id" name="id"/>


        <input type="radio" class="form-check-input" name="Status" value="approve">
        <label>approve</label><br>
        <input type="radio" class="form-check-input" name="Status" value="rejects">
        <label>Reject</label><br>
        <div id="transitFields" style="display:none">
            <label>Remarks</label>
            <textarea class="form-control" name="Remarks"></textarea>
            <span class="text-danger"></span>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </form>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function toggleTransitFields() {
            const radios = document.querySelectorAll('input[name="Status"]');
            let selectedValue = "";
            radios.forEach(radio => {
                if (radio.checked) {
                    selectedValue = radio.value;
                }
            });

            const fields = document.getElementById("transitFields");
            if (selectedValue === "rejects") {
                fields.style.display = "block";
            } else {
                fields.style.display = "none";
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            toggleTransitFields(); // Show/hide on initial load

            const radios = document.querySelectorAll('input[name="Status"]');
            radios.forEach(radio => {
                radio.addEventListener("change", toggleTransitFields);
            });
        });
    </script>


}
</div>