@using FAREI_Project.ViewModel
@model RequestsViewModel
<head>
    <link rel="stylesheet" href="~/css/ITT.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />

    <!-- jQuery (required by DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>

    <!-- JSZip for Excel Export -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
</head>
<partial name="Navbar" />
<div class="container">
    <div class="row mb-3">
@*
@using (Html.BeginForm("GeneratePdf", "FormReqDbs", FormMethod.Post, new { target = "_blank" }))

{
    <div class="form-group">
        <label for="date">Enter date:</label>
        <input type="date" name="date" id="date" class="form-control" required />
    </div>
    <div>
    <input type="submit" value="Generate PDF" class="btn btn-primary" />
    </div>
}
*@
    </div>
    @if (Model.User.Type == "Registry")
    {
        <table class="table" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventory.SerialNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventory.EquipmentType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Inventory.EquipmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registry.From)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registry.To)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registry.MovementDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Registry.Remarks)
                    </th>

                    <th>
                        Arrived
                    </th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Registries)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipment.SerialNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipment.EquipmentType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Equipment.EquipmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.From)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.To)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovementDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remarks)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.IsValid)
                        </td>

                        <td>

                            <a asp-action="DetailsTransiteForm" asp-route-id="@item.RegistryId">Details</a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }else{
    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.RequestDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Supervisor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Equipments.EquipmentName)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Equipments.EquipmentType)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Equipments.SerialNumber)
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.FormReqDb)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.RequestDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ResponsibleOfficer)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Supervisor)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Equipments.EquipmentName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.Equipments.EquipmentType)
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.Equipments.SerialNumber)
                    </td>
                    <td>
                        <a asp-action="ReportDetail" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
    }
 
</div>


