@using FAREI_Project.ViewModel
@model RequestsViewModel
<head>
    <link rel="stylesheet" href="~/css/ITT.css" />
</head>
<partial name="Navbar" />
<div class="container">
    <div class="row mb-3">
        <form asp-action="FilterByDate" method="post">
            <input type="date" name="Date" class="col-md-3" />
            <input type="submit" class="col-md-2"/>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.RequestDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Supervisor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Equipments.EquipmentName)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Equipments.EquipmentType)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Equipments.SerialNumber)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.FormReqDb)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.RequestDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.ResponsibleOfficer)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Supervisor)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Equipments.EquipmentName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.Equipments.EquipmentType)
                    </td>

                    <td>
                        @Html.DisplayFor(model => item.Equipments.SerialNumber)
                    </td>
                </tr>
            }
            
        </tbody>
    </table>

    @{
        Html.BeginForm("CreatePDFDocument", "Home", FormMethod.Get);
        {
            <div>
                <input type="submit" value="Generate PDF Document" style="width:150px;height:27px" />
            </div>
        }
        Html.EndForm();
    }
</div>
