@using FAREI_Project.ViewModel
@using FormRequest.Models
@model RequestsViewModel
<h1>Supervisor</h1>
<table class="table">
    <thead>
        <tr>
            <th>RequestDate</th>         
            <th>Responsible Officer</th>          

            <th>ProblemDescription</th>   
            <th>Status</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FormReqDb) {
        
            var statusClass = StatusClass.GetStatusClass(item.status);
        <tr>
            <td>@Html.DisplayFor(modelItem => item.RequestDate)</td>           
            <td>@Html.DisplayFor(modelItem => item.ResponsibleOfficer)</td>           
 
            <td>@Html.DisplayFor(modelItem => item.ProblemDescription)</td>
                <td class="@statusClass status-cell" data-id="@item.Id">@item.status</td>
                <td>
                    <button class="btn btn-sm btn-success action-btn accept-btn" data-id="@item.Id" data-action="accept" : "">Accept</button>
                    <button class="btn btn-sm btn-danger action-btn reject-btn" data-id="@item.Id" data-action="reject" : "">Reject</button>
                </td>
            <td><a asp-action="DetailsSupervisorForm" asp-route-id="@item.Id">Details</a></td>
        </tr>
}
    </tbody>
</table>
