@using FAREI_Project.ViewModel
@model RequestsViewModel
<head>
    <link rel="stylesheet" href="~/css/ITT.css" />
</head>
<partial name="Navbar"></partial>
<div class="container">
    <div class="row">
        <div class="col-md-6 ">
    <h4>Details</h4>

            <dl class="row">

                <dt>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Site)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FormReqDbs.Site)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FormReqDbs.Department)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FormReqDbs.Department)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FormReqDbs.ResponsibleOfficer)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FormReqDbs.ContactPhone)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FormReqDbs.ContactPhone)
                </dd>



            </dl>
</div>
        <div class="col-md-6 ">
            <h4>Equipment Details</h4>
            <dl class="row">

                <dt>Serial Number</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.Equipments.SerialNumber)</dd>

                <dt>Equipment Type</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.Equipments.EquipmentType)</dd>

                <dt>Equipment name</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.Equipments.EquipmentName)</dd>

                <dt>Problem Description</dt>
                <dd>@Html.DisplayFor(model => model.FormReqDbs.ProblemDescription)</dd>


            </dl>
        </div>
</div>
<div>
    @if (Model.FormReqDbs.Pointer == 7 )
    {

        <form asp-action="Report" method="post">
            <input  value="@Model.FormReqDbs.Id" name="id" type="hidden" />               
            <input  value="@Model.FormReqDbs.SerialNumber" name="SerialNumber" type="hidden" />
            <div class="mb-3">
                <input type="hidden" value="pending request"></input>
                <label asp-for="ITTreport.Report"></label>
                <textarea  name="Remarks" class="form-control"></textarea>
                <span  class="text-danger"></span>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    }
    else if (Model.FormReqDbs.Pointer == 5)
    {
        <form asp-action="Report" method="post">
            <input value="@Model.FormReqDbs.Id" name="id" type="hidden" />
      
            <div class="mb-3">
                <input type="hidden" value="pending request"></input>
                <label ></label>
                <textarea  name="Remarks" class="form-control"></textarea>
                <span class="text-danger"></span>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    }
    else if(Model.FormReqDbs.Pointer == 1) 
    {
        <div class="mb-3">
            <form asp-action="ChangeStatus" method="post">
                <input type="hidden" name="id" value="@Model.FormReqDbs.Id">
                    <div style="margin:10px !important;">
                <input type="radio" class="form-check-input" name="Status" value=3><label class="form-check-label"> Onsite</label><br>    
                <input type="radio" class="form-check-input" name="Status" value=4><label class="form-check-label"> Transit</label><br>
                </div>
                   
                        
                    <div style="margin:10px !important;">
                        <label>Remarks:</label>
                        <textarea name="Remarks" class="form-control"></textarea>
                        <span class="text-danger"></span>
                    </div>
                   
                <input type="submit" value="Submit" class="btn btn-primary" />
            </form>
        </div>
    }  
</div>
<a asp-action="Index">Back to List</a>
</div>
