@using FAREI_Project.ViewModel
@model RequestsViewModel
<head>
    <link rel="stylesheet" href="~/css/ITT.css" />
</head>
<partial name="Navbar"></partial>
<div class="container">
<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.RequestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.RequestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.Site)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.Site)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.ResponsibleOfficer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.ContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.ContactPhone)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.ProblemDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.ProblemDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormReqDbs.SerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormReqDbs.SerialNumber)
        </dd>

    </dl>
</div>
<div>
    @if (Model.FormReqDbs.Pointer == 3 )
    {

        <form asp-action="Report" method="post">
            <input  value="@Model.FormReqDbs.Id" name="id" type="hidden" />               
            <input  value="@Model.FormReqDbs.SerialNumber" name="SerialNumber" type="hidden" />
            <div class="mb-3">
                <input type="hidden" value="pending request"></input>
                <label asp-for="ITTreport.Report"></label>
                <textarea  name="Remarks" class="form-control"></textarea>
                <span  class="text-danger"></span>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    }
    else if (Model.FormReqDbs.Pointer == 4)
    {
        <form asp-action="Report" method="post">
            <input value="@Model.FormReqDbs.Id" name="id" type="hidden" />
      
            <div class="mb-3">
                <input type="hidden" value="pending request"></input>
                <label ></label>
                <textarea  name="Remarks" class="form-control"></textarea>
                <span class="text-danger"></span>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    }
    else if(Model.FormReqDbs.Pointer == 1) 
    {
        <div class="mb-3">
            <form asp-action="ChangeStatus" method="post">
                <input type="hidden" name="id" value="@Model.FormReqDbs.Id"></input>
                <input type="radio" class="form-check-input" name="Status" value=3><label class="form-check-label"> Onsite</label><br>
                <input type="radio" class="form-check-input" name="Status" value=4><label class="form-check-label"> Transit</label><br>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </form>
        </div>
    }  
</div>
<a asp-action="Index">Back to List</a>
</div>
