@using FAREI_Project.ViewModel
@model RequestsViewModel

<h1>Third party</h1>
<table class="table">
    <form method="get" class="d-flex justify-content-end align-items-center mb-3 gap-2">
        <input name="SearchKey" value="@Context.Request.Query["SearchKey"]" class="form-control w-auto" placeholder="Search..." />

    </form>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ResponsibleOfficer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ContactPhone)
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.ProblemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.SerialNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.FormReqDb) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsibleOfficer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
  
            <td>
                @Html.DisplayFor(modelItem => item.ProblemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
     
                <a asp-action="ThirdPartyForm" asp-route-id="@item.Id">Details</a> 
                
            </td>
        </tr>

}
    </tbody>
</table>
