@using FAREI_Project.ViewModel
@model RequestsViewModel

<h1>
    Transit
</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Registry.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registry.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registry.MovementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registry.Remarks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FormReqDbs.Department)
            </th>
            <th>
                Arrived
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Registries) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormReqDb.Department)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.IsValid)
            </td>

            <td>

                    <a asp-action="DetailsTransiteForm" asp-route-id="@item.RegistryId">Details</a>

            </td>
        </tr>
}
    </tbody>
</table>
