@using FAREI_Project.ViewModel

@model RequestsViewModel

@{
    ViewData["Title"] = "Index";
    var username = User.Identity.Name;
    var Type ="default";
   
    @if (username == null)
    {
         Type = "default";
    }
    else
    {
        foreach (var claim in User.Claims)
        {
            Console.WriteLine($"Type: {claim.Type}, Value: {claim.Value}");
        }
        @foreach (var User in Model.AllUsers)
        {
            if (username.Equals(User.UserName))
            {
                Type = User.Type;
                break;
            }
        }
    }
}
@if (Type.Equals("default") )
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
         <a  asp-area="Identity" asp-page="/Account/Login">
            Please login first.</a>
            </p>
    </div>
}
else if(Type.Equals("IT"))
{
    <h1>IT</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Problem
                </th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Requests)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Problem)
                    </td>
                   
                    <td>
                       
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else if (Type.Equals("Supervisor"))
{
    <h1>Supervisor</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Problem
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Requests)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Problem)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Detail</a> 
                     
                    </td>
                </tr>
            }
        </tbody>
    </table>
}else if (Type.Equals("User"))
{
    <h1>User</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Problem
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Requests)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Problem)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


